@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html {
    --bg: #FCFCFC;
    --bg-panel: #e2e2e2;
    --color-headings: #0077FF;
    --color-text: #333333;
    --secondary-color: rgb(194, 194, 194);
}

html[data-theme='dark'] {
    --bg: #282828;
    --bg-panel: #313131;
    --color-headings: #1a9c36;
    --color-text: #f0f0f0;
    --secondary-color: rgb(34, 34, 34);
}

body, html {
    width: 100%;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--bg);
    align-items: center;
    padding: 0px 60px;
    display: flex;
    flex-direction: column;
}

#main {
    max-width: 1200px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

    h1 {
        padding: 10px 0px;
        margin: 0 !important;
        color: var(--color-text);
        width: 100%;
        text-align: center;
        font-size: 42px;
    }

    form {
        padding: 10px 0px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
        #main>p {
            margin: 0;
            font-size: 22px;
            margin-bottom: 10px;
            color: var(--color-text);
        }

        #illness-select {
            font-size: 20px;
            padding: 5px 10px;
            border-radius: 8px;
            border: 1.5px rgb(77, 77, 77) solid;
            color: var(--color-text);
            background-color: var(--main-bg-color);
            outline: none;
        }
            select option{
                background-color: var(--bg);
                font-size: 18px;
            }

        #illness-button {
            width: 70px;
            margin-left: 5px;
            font-size: 20px;
            padding: 6px 3px;
            border-radius: 8px;
            border: none;
            outline: none;
            color: var(--color-text);
            background-color: #2979d4;
        }

        #illness-button:hover {
            background-color: #4897f1;
            cursor: pointer;
        }

    #prediction-container {
        box-sizing: border-box;
        width: 100%;
        min-width: 460px;
        height: auto;
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: center;
        padding: 20px 20px;
        color: var(--color-text);
        background-color: var(--bg-panel);
        border-radius: 10px;
        margin-top: 20px;
        margin-bottom: 80px;
    }

        #data-container {
            width: 50%;
            height: 100%;
            padding: 20px;
            box-sizing: border-box;
            color: var(--color-text);
        }
            #pacientes-container {
                display: flex;
                align-items: center;
                justify-content: inherit;
            }

            #pacientes-container input {
                margin: 0px 10px;
                font-size: 16px;
                padding: 5px 10px;
                border-radius: 8px;
                border: 1.5px rgb(77, 77, 77) solid;
                color: var(--color-text);
                background-color: var(--main-bg-color);
                outline: none;
            }

            #prediction-button {
                font-size: 16px;
                padding: 7px 10px;
                border-radius: 8px;
                border: none;
                color: white;
                font-weight: bold;
                background-color: #2979d4;
                outline: none;
            }

            #prediction-button:hover {
                background-color: #4897f1;
                cursor: pointer;
            }

            .medidas-estandar {
                font-size: 18px;
            }

            #result {
                width: 150px;
                height: 40px;
                margin: 10px 0px;
                background-color: var(--bg);
                color: var(--color-text);
                font-size: 18;
                padding: 10px 10px;
                box-sizing: border-box;
                display: none;
                border-radius: 5px;
                justify-content: center;
            }
                #prediction-result {
                    margin-block-start: 0 !important;    
                    margin-block-end: 0 !important;    
                }

        #img-container {
            width: 50%;
            padding: 10px;
            padding-top: 33.33%;
            background-repeat: no-repeat;
            background-size: contain;
        }


.padding {
    padding: 5px 10px;   
}

.toggle-container {
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
}
    #credits-button {
        padding: 5px 10px;
        border-radius: 5px;
        border: none;
        height: 30px;
        background-color: var(--secondary-color);
        font-weight: bold;
        color: var(--color-text);
    }
        #credits-button:hover {
            cursor: pointer;
        }

    #theme-switch {
        display: flex;
        align-items: center;
    }

    input[type=checkbox]{
        height: 0;
        width: 0;
        visibility: hidden;
    }

    label {
        cursor: pointer;
        text-indent: -9999px;
        width: 52px;
        height: 27px;
        background: grey;
        float: right;
        border-radius: 100px;
        position: relative;
        justify-self: flex-end;
    }

    label:after {
        content: '';
        position: absolute;
        top: 3px;
        left: 3px;
        width: 20px;
        height: 20px;
        background: #fff;
        border-radius: 90px;
        transition: 0.3s;
    }

    input:checked + label {
        background: var(--color-headings);
    }

    input:checked + label:after {
        left: calc(100% - 5px);
        transform: translateX(-100%);
    }

    label:active:after {
        width: 45px;
    }

        #dark-mode-span {
            color: var(--color-text);
            padding: 5px 0px;
            font-size: 14px;
            font-weight: bold;
        }

html.transition,
html.transition *:before,
html.transition *:after {
    transition: all 450ms !important;
    transition-delay: 0 !important;
}

html.transition * {
    transition: all 100ms !important;
    transition-delay: 0 !important;   
}

@media only screen and (max-width: 960px) {
    #prediction-container {
        flex-direction: column;
        justify-content: center;
    }

    #img-container {
        width: calc(100% - 20px);
        padding-top: 66.66%;
    }
    
    #data-container {
        width: calc(100% - 20px);
        padding: 0;
    }
}