<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Correlación COVID-19</title>
</head>
<body>
	<div id="main">
		<div class="toggle-container">
            <span id="dark-mode-span">Dark Mode</span><input type="checkbox" id="switch" name="theme" /><label for="switch">Toggle</label>
        </div>
		<h1>Correlación entre variables COVID-19</h1>
		<!-- <img src="..static/images/plot_obesidad.png" alt=""> -->
		<!-- <img src="{{ url_for("static", filename="images/plot_obesidad.png")}}" alt=""> -->
		<p>Obtener resultados de:</p>
		<!-- <form action="{{ url_for("getCorrelation") }}" method="POST"> -->
		<select name="illness-select" id="illness-select">
			<option value="asma">Asma</option>
			<option value="obesidad">Obesidad</option>
			<option value="neumonia">Neumonía</option>
			<option value="renal_cronica">Renal Crónica</option>
			<option value="tabaquismo">Tabaquismo</option>
			<option value="hipertension">Hipertensión</option>
			<option value="cardiovascular">Problemas Cardiovasculares</option>
			<option value="diabetes">Diabetes</option>
			<option value="inmusupr">Problemas Inmunosupresor</option>
			<option value="epoc">Epoc</option>
			<option value="embarazo">Embarazo</option>
		</select>
		<button id="illness-button">🔍</button>
			<!-- <input type="submit" value="🔍" id="illness-button"> -->
		<!-- </form> -->

		<div id="prediction-container">
			<div id="img-container">

			</div>
			<div id="data-container">
				<p id="note">Calcular cantidad de muertes en base a la enfermedad seleccionada</p>
				<div id="pacientes-container">
					<span>Pacientes: </span>
					<input type="text" name="" id="prediction-input" class="padding">
					<button class="padding" id="prediction-button">Predecir</button>
				</div>
				
				<div id="result" class="animate__animated fadeInRight">
					<p id="prediction-result"></p>	
				</div>
				<hr>
				
				<div id="datos-container">
					<p class="medidas-estandar">Coeficiente de Pearson:</p>
					<p class="medidas-estandar">Media:</p>
					<p class="medidas-estandar">Varianza:</p>
					<p class="medidas-estandar">Desviación estandar:</p>
				</div>
			</div>
		</div>

	</div>

	<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
	<script src="{{ url_for("static", filename="script.js") }}"></script>
	<link rel="stylesheet" href="{{ url_for("static", filename="styles.css") }}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css"/>
</body>
</html>